body{
    background-color: rgb(216, 233, 255);
    margin: 25px 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

a{
    text-decoration: none;
    color: #313131;
}

.main-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-radius: 15px;
    padding: 25px;
    color: #313131;
}

.recipe-list{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(175, 175, 175);
}

ul li{
    
    list-style-type: none;
    border: 2px solid rgb(92, 92, 92);
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

ol li{
    padding: 15px;
}

.steps{
    background-color: rgb(175, 175, 175);
    border: 2px solid rgb(92, 92, 92);
    border-radius: 15px;
}

